sample_data/Open_University_MU120_4M2/OUGeneric_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by XMLSpy 2007 Professional Ed. Release 3, Installed for 15 users (with SMP from 2007-07-05 to 2009-07-05) (The Open University) -->
<!--OU Structured Authoring Generic Schema for OpenLearn v1.10-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>Book or Block</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CourseCode" type="xsd:string"/>
				<xsd:element name="CourseTitle" type="RestrictedTitleStructure"/>
				<xsd:element name="ItemID" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>book, block etc...</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ItemTitle" type="RestrictedTitleStructure">
					<xsd:annotation>
						<xsd:documentation>book, block etc...</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FrontMatter" type="FrontMatterStructure" minOccurs="0"/>
				<xsd:element name="Unit" type="UnitStructure" minOccurs="0" maxOccurs="unbounded">
					<xsd:unique name="myId">
						<xsd:selector xpath=".//Activity | .//Table | .//Session | .//Section | .//SubSection | .//SubSubSection | .// Box | .//CaseStudy | .//Example | .//SAQ | .//Figure | .//Equation | .//Extract | .//Quote | .//MediaContent | .//ComputerDisplay | .//ProgramListing | .//Dialogue | .//Exercise | .//Reading | .//ITQ | .//StudyNote | .//Verse | .//Conclusion | .//Glossary | .//References | .//Acknowledgements | .//Appendix | .//CourseTeam | .//Introduction | .//LearningOutcomes | .//KeyPoints | .//Summary"/>
						<xsd:field xpath="@id"/>
					</xsd:unique>
					<xsd:keyref name="myIdref" refer="myId">
						<xsd:selector xpath=".//Paragraph/CrossRef | .//InlineStructure/CrossRef"/>
						<xsd:field xpath="@idref"/>
					</xsd:keyref>
				</xsd:element>
				<xsd:element name="BackMatter" type="BackMatterStructure" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="TextType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CompleteItem"/>
						<xsd:enumeration value="FrontMatter"/>
						<xsd:enumeration value="BodyMatter"/>
						<xsd:enumeration value="BackMatter"/>
						<xsd:enumeration value="CourseGuide"/>
						<xsd:enumeration value="StudyGuide"/>
						<xsd:enumeration value="Introduction"/>
						<xsd:enumeration value="Essay"/>
						<xsd:enumeration value="Readings"/>
						<xsd:enumeration value="Acknowledgements"/>
						<xsd:enumeration value="References"/>
						<xsd:enumeration value="Glossary"/>
						<xsd:enumeration value="Index"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="SchemaVersion" type="xsd:NMTOKEN" use="required" fixed="1.2"/>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="ACSTemplate" type="xsd:string"/>
			<xsd:attribute name="ACSCourseItem" type="xsd:string"/>
			<xsd:attribute name="ACSPageNumber" type="xsd:string"/>
			<xsd:attribute name="SessionStartNumber" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="LastRendering" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FrontMatterStructure">
		<xsd:sequence>
			<xsd:element name="ByLine" type="ByLineStructure" minOccurs="0"/>
			<xsd:element name="HalfTitleVerso" type="HalfTitleVersoStructure" minOccurs="0"/>
			<xsd:element name="Imprint" type="ImprintStructure"/>
			<xsd:element name="Preface" type="PrefaceStructure" minOccurs="0"/>
			<xsd:element name="Introduction" type="IntroductionStructure" minOccurs="0"/>
			<xsd:element name="LearningOutcomes" type="LearningOutcomesStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitStructure">
		<xsd:annotation>
			<xsd:documentation>Chapter or Unit</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UnitID" type="xsd:string"/>
			<xsd:element name="UnitTitle" type="TitleStructure"/>
			<xsd:element name="ByLine" type="ByLineStructure" minOccurs="0"/>
			<xsd:element name="Introduction" type="IntroductionStructure" minOccurs="0"/>
			<xsd:element name="LearningOutcomes" type="LearningOutcomesStructure" minOccurs="0"/>
			<xsd:element name="Session" type="SessionStructure" maxOccurs="unbounded"/>
			<xsd:element name="BackMatter" type="BackMatterStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BackMatterStructure">
		<xsd:sequence>
			<xsd:element name="Conclusion" type="ConclusionStructure" minOccurs="0"/>
			<xsd:element name="Glossary" type="GlossaryStructure" minOccurs="0"/>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
			<xsd:element name="Acknowledgements" type="AcknowledgementsStructure" minOccurs="0"/>
			<xsd:element name="Appendices" type="AppendicesStructure" minOccurs="0"/>
			<xsd:element name="CourseTeam" type="CourseTeamStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ByLineStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IntroductionStructure">
		<xsd:sequence>
			<xsd:element name="Title" type="TitleStructure"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="Section" type="SectionStructure"/>
				<xsd:group ref="LearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="LearningOutcomesStructure">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
				<xsd:element name="LearningOutcome" type="ParagraphStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SessionStructure">
		<xsd:sequence>
			<xsd:element name="Title" type="TitleStructure"/>
			<xsd:element name="Introduction" type="IntroductionStructure" minOccurs="0"/>
			<xsd:element name="LearningOutcomes" type="LearningOutcomesStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="Section" type="SectionStructure"/>
				<xsd:group ref="LearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="KeyPoints" type="KeyPointsStructure" minOccurs="0"/>
			<xsd:element name="Summary" type="SummaryStructure" minOccurs="0"/>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="TitleStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<!--<xsd:element name="GlossaryTerm" type="GlossaryTermStructure"/>-->
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RestrictedTitleStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="HeadingStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<!--<xsd:element name="GlossaryTerm" type="GlossaryTermStructure"/>-->
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ActivityStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:element name="Timing" type="TimingStructure" minOccurs="0"/>
			<xsd:element name="Question" type="QADStructure"/>
			<xsd:element name="MediaContent" type="MediaStructure" minOccurs="0"/>
			<xsd:element name="Interaction" type="InteractionStructure" minOccurs="0"/>
			<xsd:element name="Answer" type="QADStructure" minOccurs="0"/>
			<xsd:element name="Discussion" type="QADStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="TimingStructure" mixed="true">
		<xsd:sequence>
			<xsd:element name="Hours" type="xsd:nonNegativeInteger" minOccurs="0"/>
			<xsd:element name="Minutes" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:maxInclusive value="59"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:group ref="SentenceElementsGroup"/>
			<xsd:element name="AuthorComment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EditorComment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="QADStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:group ref="StructuralObjectsGroup"/>
			<xsd:group ref="SubHeadingsGroup"/>
			<xsd:group ref="ReducedLearningObjectsGroup"/>
		</xsd:choice>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="BoxStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:group ref="ReducedLearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="CaseStudyStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:group ref="ReducedLearningObjectsGroup"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ExampleStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:element name="Answer" type="QADStructure"/>
				<xsd:group ref="ReducedLearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ExtractStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:element name="Introduction" type="IntroductionStructure" minOccurs="0"/>
			<xsd:element name="ByLine" type="ByLineStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:group ref="ReducedLearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
		<xsd:attribute name="class">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Journal"/>
					<xsd:enumeration value="Newspaper"/>
					<xsd:enumeration value="Web"/>
					<xsd:enumeration value="Other"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ListItemStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="BulletedSubsidiaryList" type="SubsidiaryListStructure"/>
			<xsd:element name="NumberedSubsidiaryList" type="NumberedSubsidiaryListStructure"/>
			<xsd:element name="UnNumberedSubsidiaryList" type="SubsidiaryListStructure"/>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SubsidiaryListItemStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ListStructure">
		<xsd:sequence>
			<xsd:element name="ListItem" type="ListItemStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubsidiaryListStructure">
		<xsd:sequence>
			<xsd:element name="SubListItem" type="SubsidiaryListItemStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumberedListStructure">
		<xsd:complexContent>
			<xsd:extension base="ListStructure">
				<xsd:attribute name="class" type="NumberedListClassType" use="optional" default="decimal"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumberedSubsidiaryListStructure">
		<xsd:complexContent>
			<xsd:extension base="SubsidiaryListStructure">
				<xsd:attribute name="class" type="NumberedListClassType" use="optional" default="decimal"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParagraphStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CrossRef" type="CrossRefStructure"/>
			<xsd:element name="olink" type="olinkStructure"/>
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="ComputerCode" type="ComputerCodeStructure"/>
			<xsd:element name="InlineEquation" type="InlineEquationStructure"/>
			<xsd:element name="InlineFigure" type="InlineFigureStructure"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SideNoteParagraphStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<!--<xsd:element name="GlossaryTerm" type="GlossaryTermStructure"/>-->
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SideNoteStructure">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Heading" type="RestrictedTitleStructure"/>
			<xsd:element name="SideNoteParagraph" type="SideNoteParagraphStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ComputerCodeStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="GlossaryTermStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ReferencesStructure">
		<xsd:sequence>
			<xsd:element name="Reference" type="ParagraphStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgementsStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Heading" type="HeadingStructure"/>
			<xsd:element name="SubHeading" type="HeadingStructure"/>
			<xsd:element name="SubSubHeading" type="HeadingStructure"/>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="GlossaryStructure">
		<xsd:sequence>
			<xsd:element name="GlossaryItem" type="GlossaryItemStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="GlossaryItemStructure">
		<xsd:sequence>
			<xsd:element name="Term" type="ParagraphStructure"/>
			<xsd:element name="Definition" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppendicesStructure">
		<xsd:sequence>
			<xsd:element name="Appendix" type="AppendixStructure" maxOccurs="unbounded"/>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseTeamStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="SubHeading" type="HeadingStructure"/>
			<xsd:element name="SubSubHeading" type="HeadingStructure"/>
		</xsd:choice>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SectionStructure">
		<xsd:sequence>
			<xsd:element name="Title" type="TitleStructure"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="SubSection" type="SubSectionStructure"/>
				<xsd:group ref="LearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="KeyPoints" type="KeyPointsStructure" minOccurs="0"/>
			<xsd:element name="Summary" type="SummaryStructure" minOccurs="0"/>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SubSectionStructure">
		<xsd:sequence>
			<xsd:element name="Title" type="TitleStructure"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="SubSubSection" type="SubSubSectionStructure"/>
				<xsd:group ref="LearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="Summary" type="SummaryStructure" minOccurs="0"/>
			<xsd:element name="References" type="ReferencesStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SubSubSectionStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="SubHeading" type="HeadingStructure"/>
				<xsd:element name="SubSubHeading" type="HeadingStructure"/>
				<xsd:group ref="LearningObjectsGroup"/>
			</xsd:choice>
			<xsd:element name="Summary" type="SummaryStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SourceReferenceStructure" mixed="true">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="SideNote" type="SideNoteStructure"/>
				<xsd:element name="AuthorComment" type="xsd:string"/>
				<xsd:element name="EditorComment" type="xsd:string"/>
				<xsd:element name="Equation" type="EquationStructure"/>
				<xsd:group ref="SentenceElementsGroup"/>
			</xsd:choice>
			<xsd:element name="ItemRights" type="ItemRightsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CaptionStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DescriptionStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<!--<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="Equation" type="FigureStructure"/>-->
			<xsd:group ref="SentenceElementsGroup"/>
			<xsd:group ref="StructuralObjectsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="AlternativeStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:group ref="SentenceElementsGroup"/>
			<xsd:group ref="StructuralObjectsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FigureStructure">
		<xsd:sequence>
			<xsd:element name="Image" type="ImageStructure"/>
			<xsd:element name="Caption" type="CaptionStructure" minOccurs="0"/>
			<xsd:element name="Alternative" type="AlternativeStructure" minOccurs="0"/>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
			<xsd:element name="Description" type="DescriptionStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="EquationStructure">
		<xsd:sequence>
			<xsd:element name="TeX" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MathML" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Image" type="ImageStructure"/>
			<xsd:element name="Caption" type="CaptionStructure" minOccurs="0"/>
			<xsd:element name="Alternative" type="AlternativeStructure" minOccurs="0"/>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
			<xsd:element name="Description" type="DescriptionStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType mixed="true" name="ImageStructure">
		<xsd:attribute name="src" type="xsd:string"/>
		<xsd:attribute name="alt" type="xsd:string"/>
		<xsd:attribute name="longdesc" type="xsd:string"/>
		<xsd:attribute name="height" type="xsd:string"/>
		<xsd:attribute name="width" default="col_100">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="100%"/>
					<xsd:enumeration value="col_100"/>
					<xsd:enumeration value="col_75"/>
					<xsd:enumeration value="col_50"/>
					<xsd:enumeration value="col_25"/>
					<xsd:enumeration value="main_100"/>
					<xsd:enumeration value="main_75"/>
					<xsd:enumeration value="main_50"/>
					<xsd:enumeration value="main_25"/>
					<xsd:enumeration value="margin_100"/>
					<xsd:enumeration value="margin_75"/>
					<xsd:enumeration value="margin_50"/>
					<xsd:enumeration value="margin_25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="webthumbnail" type="xsd:boolean" default="false"/>
		<!-- deprecated. use Alternative element instead -->
		<!-- deprecated. use Description element instead -->
	</xsd:complexType>
	<xsd:complexType name="TableStructure">
		<xsd:sequence>
			<xsd:element name="TableHead" type="TableHeadStructure"/>
			<xsd:element name="TableBody" type="TableBodyStructure"/>
			<xsd:element name="TableFootnote" type="TableFootnoteStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
		<xsd:attribute name="class" default="normal">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="normal"/>
					<xsd:enumeration value="type 2"/>
					<xsd:enumeration value="narrow"/>
					<xsd:enumeration value="wide"/>
					<xsd:enumeration value="accounts"/>
					<xsd:enumeration value="landscape"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TableHeadStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<!--<xsd:element name="GlossaryTerm" type="GlossaryTermStructure"/>-->
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TableBodyStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="table" type="TableGridStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="GlossaryTerm" type="GlossaryTermStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TableFootnoteStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:group ref="SentenceElementsGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="QuoteStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:element name="Quote" type="QuoteStructure"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ProgramListingStructure">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ComputerDisplayStructure">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="VerseStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="Paragraph" type="ParagraphStructure"/>
				<xsd:element name="SubHeading" type="HeadingStructure"/>
				<xsd:element name="SubSubHeading" type="HeadingStructure"/>
				<xsd:element name="AuthorComment" type="xsd:string"/>
				<xsd:element name="EditorComment" type="xsd:string"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="DialogueStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="Paragraph" type="ParagraphStructure"/>
				<xsd:element name="Remark" type="ParagraphStructure"/>
				<xsd:element name="Speaker" type="ParagraphStructure"/>
				<xsd:element name="AuthorComment" type="xsd:string"/>
				<xsd:element name="EditorComment" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ReadingStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:element name="Activity" type="ActivityStructure"/>
				<xsd:element name="Box" type="BoxStructure"/>
				<xsd:element name="CaseStudy" type="CaseStudyStructure"/>
				<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
				<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
				<xsd:element name="SAQ" type="ActivityStructure"/>
				<xsd:element name="Quote" type="QuoteStructure"/>
				<xsd:element name="Verse" type="VerseStructure"/>
			</xsd:choice>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="StudyNoteStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:element name="Activity" type="ActivityStructure"/>
				<xsd:element name="Box" type="BoxStructure"/>
				<xsd:element name="CaseStudy" type="CaseStudyStructure"/>
				<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
				<xsd:element name="Example" type="ExampleStructure"/>
				<xsd:element name="Extract" type="ExtractStructure"/>
				<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
				<xsd:element name="SAQ" type="ActivityStructure"/>
				<xsd:element name="Quote" type="QuoteStructure"/>
				<xsd:element name="Verse" type="VerseStructure"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="KeyPointsStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="KeyPoint" type="ParagraphStructure"/>
			<xsd:element name="BulletedList" type="ListStructure"/>
			<xsd:element name="NumberedList" type="NumberedListStructure"/>
			<xsd:element name="UnNumberedList" type="ListStructure"/>
			<xsd:element name="Table" type="TableStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SummaryStructure">
		<xsd:sequence>
			<xsd:element name="Heading" type="HeadingStructure" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:group ref="SubHeadingsGroup"/>
				<xsd:group ref="ReducedLearningObjectsGroup"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:simpleType name="EditionType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ISBNType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="PrintedStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FirstPublishedStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CopyrightStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EditedStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TypesetStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RightsStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="AddressLine" type="AddressLineStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressLineStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ImprintStructure" mixed="true">
		<xsd:choice>
			<xsd:element name="Standard" type="StandardStructure"/>
			<xsd:element name="Copublished" type="CopublishedStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="StandardStructure" mixed="true">
		<xsd:sequence>
			<xsd:element name="GeneralInfo">
				<xsd:complexType mixed="true">
					<xsd:complexContent mixed="true">
						<xsd:extension base="GeneralInfoStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Address">
				<xsd:complexType mixed="true">
					<xsd:complexContent mixed="true">
						<xsd:extension base="AddressStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FirstPublished" type="FirstPublishedStructure"/>
			<xsd:element name="Copyright" type="CopyrightStructure"/>
			<xsd:element name="Rights" type="RightsStructure"/>
			<xsd:element name="Edited" type="EditedStructure"/>
			<xsd:element name="Typeset" type="TypesetStructure" minOccurs="0"/>
			<xsd:element name="Printed" type="PrintedStructure"/>
			<xsd:element name="ISBN" type="ISBNType"/>
			<xsd:element name="Edition" type="EditionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeneralInfoStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CopublishedStructure">
		<xsd:sequence>
			<xsd:element name="CopublisherAddress">
				<xsd:complexType mixed="true">
					<xsd:complexContent mixed="true">
						<xsd:extension base="AddressStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Address">
				<xsd:complexType mixed="true">
					<xsd:complexContent mixed="true">
						<xsd:extension base="AddressStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FirstPublished" type="FirstPublishedStructure"/>
			<xsd:element name="Copyright" type="CopyrightStructure"/>
			<xsd:element name="Rights" type="RightsStructure"/>
			<xsd:element name="Edited" type="EditedStructure"/>
			<xsd:element name="Typeset" type="TypesetStructure" minOccurs="0"/>
			<xsd:element name="Printed" type="PrintedStructure"/>
			<xsd:element name="OUCourseInfo" type="OUCourseInfoStructure" minOccurs="0"/>
			<xsd:element name="OUWebAddress" type="OUWebAddressStructure" minOccurs="0"/>
			<xsd:element name="BritishLibraryData" type="BritishLibraryDataStructure" minOccurs="0"/>
			<xsd:element name="LibraryOfCongressData" type="LibraryOfCongressDataStructure" minOccurs="0"/>
			<xsd:element name="ISBN" type="ISBNType"/>
			<xsd:element name="Edition" type="EditionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OUCourseInfoStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OUWebAddressStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BritishLibraryDataStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LibraryOfCongressDataStructure" mixed="true">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrefaceStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:group ref="StructuralObjectsGroup"/>
			<xsd:element name="Heading" type="HeadingStructure"/>
			<xsd:group ref="SubHeadingsGroup"/>
			<xsd:element name="Box" type="BoxStructure"/>
			<xsd:element name="CaseStudy" type="CaseStudyStructure"/>
			<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
			<xsd:element name="Example" type="ExampleStructure"/>
			<xsd:element name="Extract" type="ExtractStructure"/>
			<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
			<xsd:element name="Quote" type="QuoteStructure"/>
			<xsd:element name="Verse" type="VerseStructure"/>
			<xsd:element name="MediaContent" type="MediaStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ConclusionStructure">
		<xsd:sequence>
			<xsd:element name="Title" type="TitleStructure"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:group ref="StructuralObjectsGroup"/>
				<xsd:element name="Section" type="SectionStructure"/>
				<xsd:element name="Box" type="BoxStructure"/>
				<xsd:element name="CaseStudy" type="CaseStudyStructure"/>
				<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
				<xsd:element name="Example" type="ExampleStructure"/>
				<xsd:element name="Extract" type="ExtractStructure"/>
				<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
				<xsd:element name="Quote" type="QuoteStructure"/>
				<xsd:element name="Verse" type="VerseStructure"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<xsd:complexType name="HalfTitleVersoStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Heading" type="HeadingStructure"/>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="BulletedList" type="ListStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="AppendixStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:group ref="StructuralObjectsGroup"/>
			<xsd:element name="Section" type="SectionStructure"/>
			<xsd:group ref="LearningObjectsGroup"/>
		</xsd:choice>
		<xsd:attributeGroup ref="StructuralObjectsAttributesGroup"/>
	</xsd:complexType>
	<!-- OpenLearn specific -->
	<xsd:complexType name="InlineStructure" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="SentenceElementsGroup"/>
			<xsd:element name="CrossRef" type="CrossRefStructure"/>
			<xsd:element name="olink" type="olinkStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="URI">
		<xsd:annotation>
			<xsd:documentation>
      a Uniform Resource Identifier, see [RFC2396]
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:anyURI"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContentType">
		<xsd:annotation>
			<xsd:documentation>
      media type, as per [RFC2045]
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="InlineFigureStructure">
		<xsd:sequence>
			<xsd:element name="Image" type="ImageStructure"/>
			<xsd:element name="Description" type="DescriptionStructure" minOccurs="0"/>
			<xsd:element name="Alternative" type="AlternativeStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="shiftby" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="InlineEquationStructure">
		<xsd:sequence>
			<xsd:element name="TeX" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MathML" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Image" type="ImageStructure"/>
			<xsd:element name="Description" type="DescriptionStructure" minOccurs="0"/>
			<xsd:element name="Alternative" type="AlternativeStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="shiftby" type="xsd:integer"/>
	</xsd:complexType>
	<xsd:complexType name="MediaStructure">
		<xsd:sequence>
			<xsd:element name="Caption" type="CaptionStructure" minOccurs="0"/>
			<xsd:element name="SourceReference" type="SourceReferenceStructure" minOccurs="0"/>
			<xsd:element name="Description" type="DescriptionStructure" minOccurs="0"/>
			<xsd:element name="Transcript" type="DialogueStructure" minOccurs="0"/>
			<xsd:element name="Parameters" type="ParametersStructure" minOccurs="0"/>
			<xsd:element name="Attachments" type="AttachmentsStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="src" type="xsd:string"/>
		<xsd:attributeGroup ref="LearningObjectsAttributesGroup"/>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="audio"/>
					<xsd:enumeration value="flash"/>
					<xsd:enumeration value="java"/>
					<xsd:enumeration value="openmark"/>
					<xsd:enumeration value="videolow"/>
					<xsd:enumeration value="videohigh"/>
					<xsd:enumeration value="videoboth"/>
					<xsd:enumeration value="pdf"/>
					<xsd:enumeration value="xls"/>
					<xsd:enumeration value="mov"/>
					<xsd:enumeration value="activitychoice"/>
					<xsd:enumeration value="activitydata"/>
					<xsd:enumeration value="activityforum"/>
					<xsd:enumeration value="activityglossary"/>
					<xsd:enumeration value="activitylesson"/>
					<xsd:enumeration value="activityquestionnaire"/>
					<xsd:enumeration value="activityquiz"/>
					<xsd:enumeration value="activityscorm"/>
					<xsd:enumeration value="activitysurvey"/>
					<xsd:enumeration value="activitywiki"/>
					<xsd:enumeration value="activityworkshop"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="target" type="xsd:string" use="optional"/>
		<xsd:attribute name="supportDoc" type="xsd:string" use="optional"/>
		<xsd:attribute name="width" type="xsd:string" use="optional"/>
		<xsd:attribute name="height" type="xsd:string" use="optional"/>
		<xsd:attribute name="webthumbnail" type="xsd:boolean" default="false"/>
	</xsd:complexType>
	<xsd:complexType name="TableGridStructure">
		<xsd:sequence>
			<xsd:element name="tr" type="trType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="class" default="TableGrid">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="trType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:sequence>
				<xsd:element name="th" type="thStructure" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="td" type="tdStructure" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TableContent" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="SentenceElementsGroup"/>
			<xsd:group ref="TableStructuralObjectsGroup"/>
		</xsd:choice>
		<!--<xsd:complexContent mixed="true">
			<xsd:extension base="ParagraphStructure"/>		
		</xsd:complexContent>-->
	</xsd:complexType>
	<xsd:complexType name="thStructure" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="TableContent">
				<xsd:attribute name="colspan" type="xsd:positiveInteger" use="optional"/>
				<xsd:attribute name="class" default="ColumnCentered">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="ColumnLeft"/>
							<xsd:enumeration value="ColumnCentered"/>
							<xsd:enumeration value="ColumnRight"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tdStructure" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="TableContent">
				<xsd:attribute name="colspan" type="xsd:positiveInteger" use="optional"/>
				<xsd:attribute name="class" default="TableLeft">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="TableLeft"/>
							<xsd:enumeration value="TableCentered"/>
							<xsd:enumeration value="TableRight"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SentenceElementsGroup">
		<xsd:sequence>
			<xsd:element name="b" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>bold</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="i" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>italic</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="u" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>underline</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sup" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>superscript</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sub" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>subscript</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="smallcaps" type="InlineStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>small capital letters</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="language" type="languageStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>@val holds the actual 2 letter value like EN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="a" type="aStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>anchor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndexTerm" type="IndexTermStructure" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Allows you to index just about any bit of text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GlossaryTerm" type="GlossaryTermStructure" minOccurs="0" maxOccurs="unbounded"/>
			<!-- need to put br and sym in here -->
			<xsd:element name="br" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="sym" minOccurs="0" maxOccurs="unbounded" type="symStructure"></xsd:element>
		</xsd:sequence>
		<!--will need an element for special characters which aren't unicode, like the symbol font-->
	</xsd:group>
	<xsd:complexType name="languageStructure" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="InlineStructure">
				<xsd:attribute name="val" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IndexTermStructure" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="InlineStructure">
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="aStructure" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="InlineStructure">
				<xsd:attribute name="href" type="URI"/>
				<xsd:attribute name="name" type="xsd:NMTOKEN"/>
				<xsd:attribute name="type" type="ContentType"/>
				<xsd:attribute name="target" type="ContentType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="symStructure" mixed="true">
		<xsd:attribute name="font" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:group name="LearningObjectsGroup">
		<xsd:choice>
			<xsd:element name="Activity" type="ActivityStructure"/>
			<xsd:element name="Box" type="BoxStructure"/>
			<xsd:element name="CaseStudy" type="CaseStudyStructure"/>
			<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
			<xsd:element name="Dialogue" type="DialogueStructure"/>
			<xsd:element name="Example" type="ExampleStructure"/>
			<xsd:element name="Exercise" type="ActivityStructure"/>
			<xsd:element name="Extract" type="ExtractStructure"/>
			<xsd:element name="ITQ" type="ActivityStructure"/>
			<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
			<xsd:element name="Quote" type="QuoteStructure"/>
			<xsd:element name="Reading" type="ReadingStructure"/>
			<xsd:element name="SAQ" type="ActivityStructure"/>
			<xsd:element name="StudyNote" type="StudyNoteStructure"/>
			<xsd:element name="Verse" type="VerseStructure"/>
			<xsd:element name="MediaContent" type="MediaStructure"/>
			<xsd:element name="InternalSection" type="SubSubSectionStructure"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="ReducedLearningObjectsGroup">
		<xsd:choice>
			<xsd:element name="Box" type="BoxStructure"/>
			<xsd:element name="ComputerDisplay" type="ComputerDisplayStructure"/>
			<xsd:element name="Dialogue" type="DialogueStructure"/>
			<xsd:element name="Example" type="ExampleStructure"/>
			<xsd:element name="Extract" type="ExtractStructure"/>
			<xsd:element name="ProgramListing" type="ProgramListingStructure"/>
			<xsd:element name="Quote" type="QuoteStructure"/>
			<xsd:element name="Reading" type="ReadingStructure"/>
			<xsd:element name="StudyNote" type="StudyNoteStructure"/>
			<xsd:element name="Verse" type="VerseStructure"/>
			<xsd:element name="MediaContent" type="MediaStructure"/>
			<xsd:element name="InternalSection" type="SubSubSectionStructure"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="StructuralObjectsGroup">
		<xsd:choice>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="BulletedList" type="ListStructure"/>
			<xsd:element name="NumberedList" type="NumberedListStructure"/>
			<xsd:element name="UnNumberedList" type="ListStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="Figure" type="FigureStructure"/>
			<xsd:element name="Table" type="TableStructure"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<!-- possibly sidenote as well? -->
		</xsd:choice>
	</xsd:group>
	<xsd:group name="TableStructuralObjectsGroup">
		<xsd:choice>
			<xsd:element name="Paragraph" type="ParagraphStructure"/>
			<xsd:element name="BulletedList" type="ListStructure"/>
			<xsd:element name="NumberedList" type="NumberedListStructure"/>
			<xsd:element name="UnNumberedList" type="ListStructure"/>
			<xsd:element name="AuthorComment" type="xsd:string"/>
			<xsd:element name="EditorComment" type="xsd:string"/>
			<xsd:element name="Figure" type="FigureStructure"/>
			<xsd:element name="InlineFigure" type="InlineFigureStructure"/>
			<xsd:element name="Equation" type="EquationStructure"/>
			<xsd:element name="InlineEquation" type="InlineEquationStructure"/>
			<xsd:element name="CrossRef" type="CrossRefStructure"/>
			<xsd:element name="olink" type="olinkStructure"/>
			<xsd:element name="SideNote" type="SideNoteStructure"/>
			<xsd:element name="ComputerCode" type="ComputerCodeStructure"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="SubHeadingsGroup">
		<xsd:choice>
			<xsd:element name="SubHeading" type="HeadingStructure"/>
			<xsd:element name="SubSubHeading" type="HeadingStructure"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="ItemRightsStructure">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="OwnerRef" type="xsd:string"/>
			<xsd:element name="ItemRef" type="xsd:string"/>
			<xsd:element name="ItemAcknowledgement" type="ParagraphStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrossRefStructure" mixed="true">
		<xsd:attribute name="idref" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="olinkStructure" mixed="true">
		<xsd:attribute name="targetdoc" type="xsd:string"/>
		<xsd:attribute name="targetptr" type="xsd:string"/>
	</xsd:complexType>
	<xsd:attributeGroup name="LearningObjectsAttributesGroup">
		<xsd:attribute name="id" type="xsd:string" use="optional"/>
		<xsd:attribute name="resource1" type="ResourceAttributeType" default="none"/>
		<xsd:attribute name="resource2" type="ResourceAttributeType" default="none"/>
		<xsd:attribute name="resource3" type="ResourceAttributeType" default="none"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="StructuralObjectsAttributesGroup">
		<xsd:attribute name="id" type="xsd:string" use="optional"/>
	</xsd:attributeGroup>
	<xsd:complexType name="ParametersStructure">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Parameter" type="ParameterStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentsStructure">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Attachment" type="AttachmentStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParameterStructure">
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AttachmentStructure">
		<xsd:attribute name="src" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
	</xsd:complexType>
	<xsd:simpleType name="ResourceAttributeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="offprint"/>
			<xsd:enumeration value="book"/>
			<xsd:enumeration value="notes"/>
			<xsd:enumeration value="computer"/>
			<xsd:enumeration value="dvd"/>
			<xsd:enumeration value="card"/>
			<xsd:enumeration value="conference"/>
			<xsd:enumeration value="web"/>
			<xsd:enumeration value="ict"/>
			<xsd:enumeration value="video"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumberedListClassType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="decimal"/>
			<xsd:enumeration value="lower-roman"/>
			<xsd:enumeration value="upper-roman"/>
			<xsd:enumeration value="lower-alpha"/>
			<xsd:enumeration value="upper-alpha"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InteractionStructure">
		<xsd:choice>
			<xsd:element name="SingleChoice" type="InteractionSingleChoiceStructure"/>
			<xsd:element name="Matching" type="InteractionMatchingStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="InteractionSingleChoiceStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Right" type="SingleChoiceInteractionStructure"/>
			<xsd:element name="Wrong" type="SingleChoiceInteractionStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="InteractionMatchingStructure">
		<xsd:choice maxOccurs="unbounded">
			<xsd:sequence>
				<xsd:element name="Option" type="MatchingInteractionStructure"/>
				<xsd:element name="Match" type="MatchingInteractionStructure"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SingleChoiceInteractionStructure">
		<xsd:sequence>
			<xsd:element name="Paragraph" type="ParagraphStructure" maxOccurs="unbounded"/>
			<xsd:element name="Feedback" type="InteractionOptionFeedbackStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MatchingInteractionStructure">
		<xsd:sequence>
			<xsd:element name="Paragraph" type="ParagraphStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InteractionOptionFeedbackStructure">
		<xsd:sequence>
			<xsd:element name="Paragraph" type="ParagraphStructure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
